.blue {
    background-color: hsl(240, 70%, 30%, 40%); 
    border-radius: 25%;
}

.header-link {
    
}


#smilingben {
    max-height: 300px;
    border-radius: 25%;  
    <
}

.intro {
    max-width: 70%;
}