* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
}

html {
    background-color: hsla(0, 0%, 61%, 0.164)
}

.link {
    padding: 4px;
    margin: 10px;
    background-color: hsla(183, 53%, 50%, 0.30);
    border: solid 2px hsla(236, 53%, 59%, 0.82);
    display: inline-block;
    height: 35px;
    width: 120px;
    text-align: center;
    font-family: Rubik, sans-serif;
}

.blue {
    background-color: rgba(60, 188, 195, 0.856); 
    margin: 0;
}


header {
    height: 160px;
    border-bottom: 5px solid hsla(236, 53%, 59%, 0.82);
    box-shadow: 5px 5px 4px 0 #000000;
}

footer {
    height: 60px;
    margin-bottom: 0;
    border-top: 5px solid hsla(236, 53%, 59%, 0.82);
    box-shadow: 5px 5px 4px 0 #000000;
    
}

.header-link {
    font-family: 'Rubik', sans-serif;  
    padding: 2px;
    margin: 20px;  

}

.blog-link {
    font-family: 'Rubik', sans-serif;  
    font-size: 25px;
    font-weight: bold;
    background-color: hsla(183, 53%, 50%, 0.30);
    padding: 10px;
    margin: auto;
    height: 120px;
    width: 900px;
    display: block;
    text-align: left;
    border: 5px solid hsla(206, 53%, 59%, 0.92);
    border-radius: 3%;
    box-shadow: 5px 5px 4px 0 #000000;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    max-height: 40px;
    text-shadow: 1px 1px hsla(206, 0%, 19%, 0.92);
    padding-top: 25px;
    white-space: nowrap;
    text-align: center;

}

h2{
    font-family: 'Montserrat', sans-serif;  
    
}

h3 {
    font-family: 'Montserrat', sans-serif;  
    
}

p {
    font-family: 'Rubik', sans-serif;  
}

#smilingben {
    height: 250px;
    border-radius: 25%;
    border: solid 5px hsla(206, 53%, 59%, 0.92);
    display: inline-block;
    margin-left: 60px;
    vertical-align: top;
    box-shadow: 5px 5px 4px 0 #000000;

}

.intro {
    display: inline-block;
    max-height: 250px;
    width: 40%;
    line-height: 50px;
    padding: 20px;
    vertical-align: top;
    overflow: hidden;
}


.date {
    float: right;
}

.blog-info {
    font-size: 17px;
    font-family: 'Rubik', sans-serif;  
}

.blog-link:hover {
    transform: scale(1.1);
}

#smilingben:hover {
    transform: scale(1.1);
}